html,
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}
.root {
  text-align: center;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.title {
  font-size: 20pt;
}

.board-container {
  display: flex;
  justify-content: center;
}

.board-cell {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

